*{
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    list-style:none;
}
a{
    text-decoration: none;
}
.pic{
    width: 1100px;
    height: 430px;
    margin-top: 70px;
    /* border: 1px solid #000; */
}
.pic ul li{
    float: left;
    width: 100px;  
    height: 429px;
}
.pic1{
    background:url("../images/1.jpg") no-repeat;
}
.pic2{
    background: url("../images/2.jpg") no-repeat;
}
.pic ul li.pic3{
    background: url("../images/3.jpg") no-repeat;
}
.pic ul li.pic4{
    background: url("../images/hao.jpg") no-repeat;
    width: 789px;
}
.txt{
    background-color: #fff;
    background:rgba(0,0,0,.5);
    height: 429px;
    width: 100px;
}
.txt p{
    float: left;
    color:#fff;
}
.txt .p1{
    font-size:12px;
    width: 12px;
    padding: 25px 25px 0px 20px;
}
.txt .p2{
    font-size:14px;
    width: 14px;
    margin-top: 25px;
}